@font-face {
  font-family: 'Unbounded';
  src: url('../../assets/fonts/Unbounded-Regular.eot');
  src: local('Unbounded Regular'), local('Unbounded-Regular'),
      url('../../assets/fonts/Unbounded-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/Unbounded-Regular.woff2') format('woff2'),
      url('../../assets/fonts/Unbounded-Regular.woff') format('woff'),
      url('../../assets/fonts/Unbounded-Regular.ttf') format('truetype'),
      url('../../assets/fonts/Unbounded-Regular.svg#Unbounded-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../../assets/fonts/Aeonik-Medium.eot');
  src: local('Aeonik Medium'), local('Aeonik-Medium'),
      url('../../assets/fonts/Aeonik-Medium.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/Aeonik-Medium.woff2') format('woff2'),
      url('../../assets/fonts/Aeonik-Medium.woff') format('woff'),
      url('../../assets/fonts/Aeonik-Medium.ttf') format('truetype'),
      url('../../assets/fonts/Aeonik-Medium.svg#Aeonik-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../../assets/fonts/Aeonik-Regular.eot');
  src: local('Aeonik Regular'), local('Aeonik-Regular'),
      url('../../assets/fonts/Aeonik-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/Aeonik-Regular.woff2') format('woff2'),
      url('../../assets/fonts/Aeonik-Regular.woff') format('woff'),
      url('../../assets/fonts/Aeonik-Regular.ttf') format('truetype'),
      url('../../assets/fonts/Aeonik-Regular.svg#Aeonik-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
